.gradle
/local.properties
.idea
.DS_Store
/build
/captures
/AndroidDemo.iml
app/build/
demo/libs/
demo/src/main/res/drawable/
demo/
javademo/libs/
ttdemo/libs/
ttdemo/src/main/res/drawable/
app/src/main/java/com/gzfgeh/Login/Download/
xposeddemo/libs/
xposeddemo/src/main/res/drawable/
