<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzfgeh" >

    <permission
        android:name="com.shcem.frey.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.shcem.frey.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- share sdk permission -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.gzfgeh.APP">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".CustomViewGroup.CustomViewGroupActivity"/>
        <activity android:name=".CustomFlowLayout.CustomFlowLayoutActivity"/>
        <activity android:name=".CustomTag.CustomTagLayoutActivity"/>
        <activity android:name=".CustomTextView.CustomTextviewActivity"/>
        <activity android:name=".CustomRxBus.CustomRxBusActivity"
            android:theme="@style/MyAppTheme"/>
        <activity android:name=".CustomChart.CustomChartActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".CustomBtn.CustomBtnActivity"/>
        <activity android:name=".CustomBottomTab.BottomTabLayoutActivity"/>
        <activity android:name=".CustomChart.ChartViewActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".CustomDagger.Dagger2Activity"/>
        <activity android:name=".CustomRecycler.CustomRecyclerActivity"/>
        <activity android:name=".CustomScrollView.ScrollViewActivity"/>
        <activity android:name=".CustomRetrifit.RetrofitActivity"/>
        <activity android:name=".CustomDrawable.CustomDrawableActivity"/>
        <activity android:name=".CustomStickRecycler.StickRecyclerActivity"/>

    </application>

</manifest>
